# -------------------------------
# MapProxy example configuration.
# -------------------------------

globals:
  http:
    ssl_no_cert_checks: True
    client_timeout: 1
      
services:
  demo:
  tms:
  wmts:
    md:
      title: MapProxy WMTS Proxy
      abstract: This is a minimal MapProxy example.
  wms:
    md:
      title: MapProxy WMS Proxy
      abstract: This is a minimal MapProxy example.

sources:
  imagery:
    type: tile
    url: https://tiles.stadiamaps.com/tiles/alidade_satellite/%(z)s/%(x)s/%(y)s.png?api_key=b95c9702-0a29-481d-b708-0df43a46bb36
    grid: GLOBAL_WEBMERCATOR
    coverage:
      bbox: [$BBOX_LEFT, $BBOX_BOTTOM, $BBOX_RIGHT, $BBOX_TOP]
      srs: 'EPSG:3857'
    on_error:
      other:
        response: '#ede9e3'
        cache: False
      
caches:
  imagery_cache:
    sources: [imagery]
    grids: [GLOBAL_WEBMERCATOR]
    cache:
      type: $CACHE_TYPE
      bucket_name: $AWS_BUCKET_NAME
      region_name: $AWS_DEFAULT_REGION
           
layers:
  - name: imagery
    title: Stadia Maps - Alidade Smooth
    sources: [imagery_cache]

