seeds:
  seed_israel:
    caches: [imagery_cache]
    coverages: [israel]
    grids: [GLOBAL_WEBMERCATOR]
    levels:
      from: 0
      to: $IMAGERY_LELEVS
    
coverages:
  israel:
    bbox: [$BBOX_LEFT, $BBOX_BOTTOM, $BBOX_RIGHT, $BBOX_TOP]
    srs: 'EPSG:3857'
